---
---

@import "jekyll-theme-minimal";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
   font-family: 'Playfair Display', serif;
    font-size: 1em;
}

h1 {
    line-height: 1.25em;
}

small {
    font-size: .75em;
}

article {
    margin-top: 3em;
    margin-bottom:3em;
}

.intro-quote {
    padding: 25px;
    margin-bottom: 1em;
}

li {
    padding-bottom: 8px;
}

.oath {
    color: #000;
}


